@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
.hero-section {
  margin-top: 6rem;
  align-items: center;
  text-align: center;
  transition: all 0.3s;

  @media screen and (max-width: 960px) {
    margin-top: 3rem;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__intro {
  display: flex;
  flex-direction: column;

  > p {
    font-size: 1.8rem;
    font-weight: 200;

    @media screen and (max-width: 960px) {
      font-size: 1.5rem;
    }
  }

  > h1 {
    font-family: "Poller One", cursive;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 100px;

    @media screen and (max-width: 960px) {
      font-size: 3rem;
      line-height: 80px;
      padding: 1rem;
    }
  }

  .hero__color {
    font-family: "Poller One", cursive;
    color: #cc84ff;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 8px 12px;
    border-radius: 22px;
  }

  .hero__intro-type {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    gap: 10px;

    @media screen and (max-width: 960px) {
      margin-top: 2rem;
    }
  }

  .hero__short-intro {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      padding-top: 0.2rem;
      color: #4e4e4e;
      width: 50%;
      text-align: center;
    }

    @media screen and (max-width: 960px) {
      > p {
        width: 80%;
        font-size: 0.9rem;
      }
    }
  }
}

.hero__CTA {
  > button {
    margin-top: 4rem;
    background-color: #cc84ff;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
  }

  :hover {
    transition: 0.3s;
    background-color: #deb0ff;
    color: #911ae5;
  }
}
