.blog {
  padding: 0 10rem;
  margin-top: 8rem;
  > h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 2rem 0;
  }
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
  grid-column-gap: 8rem;
  grid-row-gap: 2rem;
  justify-content: center;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.019);
  border: 1px solid rgba(255, 255, 255, 0.079);
  .blogImage {
    > img {
      max-width: 100%;
      border-radius: 12px;
      object-fit: cover;
      height: 15rem !important;
    }
  }
  .blogHeader {
    padding-top: 1rem;
    > h2 {
      font-size: 2rem;
    }
    > p {
      font-size: 1rem;
      color: #ce8dff;
    }
  }
  .blogDescription {
    padding: 1rem 0;
    font-weight: 200;
    font-size: 1rem;
    width: fit-content;
    > p {
      color: #9f9f9f;
    }
  }
  .blogButton {
    padding: 1.5rem 0;
    > a {
      color: #fff;
      padding: 18px 32px;
      font-size: 1rem;
      background-color: transparent;
      border: 1px solid #cc84ff;
      border-radius: 12px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 60em) {
  .blog {
    padding: 0 0;
    > h1 {
      font-size: 2rem;
      font-weight: 800;
    }
  }

  .blogContainer {
    padding: 1rem;
    border-radius: 22px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.019);
    border: 1px solid rgba(255, 255, 255, 0.079);
    .blogImage {
      > img {
        max-width: 100%;
        border-radius: 12px;
      }
    }
    .blogHeader {
      padding-top: 0.8rem;
      > h2 {
        font-size: 1.2rem;
      }
      > p {
        padding-top: 0.2rem;
        font-size: 0.8rem;
        color: #ce8dff;
      }
    }
    .blogDescription {
      padding: 1rem 0;
      font-weight: 200;
      font-size: 0.8rem;
      color: #585858;
    }
    .blogButton {
      padding: 0.5rem 0;
      > a {
        padding: 8px 16px;
        font-size: 0.8rem;
      }
    }
  }
}
