.devProjectCard {
  .devProjectCardContainer {
    padding: 1.4rem;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.019);
    margin-top: 1rem;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.079);
  }

  .devProjectDetails {
    .devProjectCardImage {
      height: 17rem;
      border-radius: 12px;
      > img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .devProjectCardTitle > h3 {
      padding-top: 1rem;
      font-size: 2rem;
      line-height: 40px;
    }

    .devProjectCardDescription {
      padding-top: 0.2rem;
      > p {
        font-size: 1rem;
        color: #9f9f9f;
        font-weight: 200;
      }
    }

    .devProjectCardStack {
      padding-top: 1.5rem;
      color: #ce8dff;
    }
  }
  .devProjectCardButton {
    > a > button {
      color: #fff;
      padding: 18px 32px;
      font-size: 1rem;
      background-color: transparent;
      border: 1px solid #cc84ff;
      border-radius: 12px;
      outline: none;
      cursor: pointer;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 60em) {
  .devProjectCard {
    .devProjectCardContainer {
      padding: 1rem;
      border-radius: 22px;
      background-color: rgba(255, 255, 255, 0.041);
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .devProjectDetails {
      .devProjectCardImage {
        > img {
          width: 100%;
          height: 16rem;
          object-fit: cover;
          border-radius: 12px;
        }
      }

      .devProjectCardTitle > h3 {
        padding-top: 1rem;
        font-size: 1.2rem;
        line-height: 22px;
      }

      .devProjectCardDescription {
        padding-top: 0.4rem;
        > p {
          font-size: 1rem;
          color: #9f9f9f;
          font-weight: 200;
        }
      }

      .devProjectCardStack {
        padding-top: 0.8rem;
        color: #ce8dff;
        font-size: 0.8rem;
      }
    }
    .devProjectCardButton {
      > a > button {
        padding: 8px 16px;
        font-size: 0.8rem;
      }
    }
  }
}
.devProjectContainer {
  margin-top: 8rem;
  padding: 0 10rem;
  > h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 2rem 0;
  }
}

.devProjectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
  justify-content: center;
  grid-column-gap: 8rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 60em) {
  .devProjectContainer {
    margin-top: 8rem;
    padding: 0 0rem;
    > h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }
  }

  .devProjectGrid {
    grid-row-gap: 1rem;
  }
}
