@media screen and (max-width: 60em) {
  .gfxContainer {
    text-align: center;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      padding: 2rem 0rem;
      font-size: 2rem;
      font-weight: 800;
    }
    img {
      object-fit: contain !important;
      width: 100% !important;
    }
  }
}
@media screen and (min-width: 60em) {
  .gfxContainer {
    padding: 0 10rem;
    width: 100%;
    margin-top: 8rem;
    > h1 {
      padding: 2rem 0;
      font-size: 3rem;
      font-weight: 800;
    }
  }
}
