@media screen and (min-width: 60em) {
  @keyframes taadaa {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .heroSection {
    margin-top: 4rem;
    padding: 0 10rem;

    .heroContainer {
      display: flex;
      flex-direction: column;
      width: 90%;

      .heroIntro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        > p {
          padding-left: 1px;
          font-size: 1rem;
          font-weight: 300;
          color: #dfdfdf;
        }
        > h1 {
          width: 60%;
          font-weight: 800;
          font-size: 6rem;
          line-height: 100px;
          padding: 1rem 0rem;
        }
        @keyframes background-pan {
          from {
            background-position: 0% 200% center;
          }
          to {
            background-position: -200% 0% center;
          }
        }
        @keyframes background-pan-reverse {
          from {
            background-position: -200% center;
          }
          to {
            background-position: 0% center;
          }
        }
        .heroColor {
          animation: background-pan 3s forwards infinite;
          font-weight: 800;
          color: transparent;
          background: linear-gradient(
            120deg,
            #9500ff,
            #bb5cff,
            #ffffff,
            #bb5cff,
            #9500ff
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200%;
          cursor: pointer;
        }
        .heroColor2 {
          font-weight: 800;
          color: transparent;
          background: linear-gradient(
            120deg,
            #9500ff,
            #bb5cff,
            #ffffff,
            #bb5cff,
            #9500ff
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200%;
          animation: background-pan-reverse 4s linear infinite;
        }
      }
      .heroShortIntro {
        > p {
          font-size: 1rem;
          padding-top: 0.5rem;
          color: #dfdfdf;
          width: 70%;
        }
      }
    }
    .heroCta {
      padding: 0rem 0rem 12vh 0rem;
      .resume {
        display: none;
      }
      .heroCtaButtonLink {
        > button {
          background-color: #cc84ff;
          border-radius: 10px;
          margin-top: 5vh;
          font-size: 14px;
          padding: 16px 20px;
          font-weight: 500;
          cursor: pointer;
          border: none;
          color: #121212;
          transition: 0.3s;

          &:hover {
            background-color: #edd5ff;
            color: #911ae5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 60em) {
  .heroSection {
    margin-top: 4rem;
    text-align: center;

    .heroContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .heroIntro {
        display: flex;
        flex-direction: column;
        align-items: center;

        > p {
          font-size: 1rem;
          font-weight: 300;
          color: #c4c4c4;
        }
        > h1 {
          font-weight: 800;
          font-size: 3rem;
          line-height: 50px;
          padding: 1rem 0rem;
        }
        @keyframes background-pan {
          from {
            background-position: 0% center;
          }
          to {
            background-position: -200% center;
          }
        }
        @keyframes background-pan-reverse {
          from {
            background-position: -200% center;
          }
          to {
            background-position: 0% center;
          }
        }
        .heroColor {
          font-weight: 800;
          color: transparent;
          background: linear-gradient(
            120deg,
            #9500ff,
            #bb5cff,
            #ffffff,
            #bb5cff,
            #9500ff
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200%;
          animation: background-pan 2s linear infinite;
        }
        .heroColor2 {
          font-weight: 800;
          color: transparent;
          background: linear-gradient(
            120deg,
            #9500ff,
            #bb5cff,
            #ffffff,
            #bb5cff,
            #9500ff
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200%;
          animation: background-pan-reverse 3s linear infinite;
        }
        .heroShortIntro {
          > p {
            font-size: 0.8rem;
            padding-top: 0.5rem;
            color: #dfdfdf;
            text-align: center;
          }
        }
      }
      .heroCta {
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem 12vh 0rem;

        .resume {
          text-decoration: none;
          background-color: #cc84ff;
          border-radius: 10px;
          margin-top: 1rem;
          font-size: 14px;
          padding: 16px 20px;
          font-weight: 500;
          cursor: pointer;
          border: none;
          color: #121212;
          transition: 0.3s;
          &:hover {
            background-color: #edd5ff;
            color: #911ae5;
          }
        }
        .heroCtaButtonLink {
          > button {
            background-color: #cc84ff;
            border-radius: 10px;
            margin-top: 5vh;
            font-size: 14px;
            padding: 16px 20px;
            font-weight: 500;
            cursor: pointer;
            border: none;
            color: #121212;
            transition: 0.3s;

            &:hover {
              background-color: #edd5ff;
              color: #911ae5;
            }
          }
        }
      }
    }
  }
}
