@media screen and (max-width: 60em) {
  .details__section {
    padding: 0 2rem;

    .about {
      margin-top: 2rem;
      h1 {
        text-align: center;
        padding-bottom: 1rem;
      }

      .about__container {
        display: flex;
        flex-direction: column;

        gap: 2rem;

        .about__info {
          p {
            padding-bottom: 1rem;
            font-size: 1rem;
            width: 100%;
          }
        }

        .about__image {
          img {
            object-fit: contain;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 60em) {
  .details__section {
    margin-top: 5rem;
    padding: 0 10rem;

    .about {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      h1 {
        text-align: center;
        padding-bottom: 3rem;
        font-size: 2.5rem;
      }
      .about__container {
        display: grid;
        grid-template-columns: 70% 30%;

        .about__info {
          display: flex;
          flex-direction: column;
          p {
            padding-bottom: 2rem;
            font-size: 1.1rem;
            width: 70%;
          }
        }

        .about__image {
          img {
            object-fit: contain;
            width: 100%;
          }
        }
      }
    }
  }
}
