@media screen and (max-width: 500px) {
  .gfx-container {
    text-align: center;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    h1 {
      padding-bottom: 2rem;
      font-size: 2.5rem;
    }
    img {
      object-fit: contain;
      width: 100%;
      /* border-radius: 22px; */
      padding-bottom: 0.6rem;
    }
  }
}
