@media screen and (max-width: 40em) {
  .gfx-container {
    text-align: center;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      padding: 2rem 0rem;
      font-size: 2rem;
      font-weight: 800;
    }
    img {
      object-fit: contain;
      width: 100%;
      padding-bottom: 0.6rem;
    }
  }
}
@media screen and (min-width: 40em) {
  .gfx-container {
    padding: 0 10rem;

    margin-top: 8rem;
    > h1 {
      padding: 2rem 0;
      font-size: 3rem;
      font-weight: 800;
    }
    .gfx-works {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      > img {
        object-fit: contain;
        max-height: 20rem;
      }
    }
  }
}
