@media screen and (max-width: 500px) {
  .gfx-container {
    text-align: center;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding-bottom: 2rem;
    }
    img {
      object-fit: contain;
      width: 80vw;
      /* border-radius: 22px; */
      padding-bottom: 0.6rem;
    }
  }
}
