.navbar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  transition: all 0.3s;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  width: 100%;
  transition: all 0.3s;

  @media screen and (max-width: 960px) {
    padding: 0 0rem;
  }
}

.navbar__Logo .navbar__logo-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  cursor: pointer;

  .mobileLogo {
    display: none;

    @media screen and (max-width: 960px) {
      display: flex;
      object-fit: contain;
      height: 3rem;
    }
  }

  > img {
    object-fit: contain;
    height: 4rem;
  }

  @media (max-width: 960px) {
    > img {
      display: none;
    }
  }
}

.navbar__Links {
  color: #fff;

  transition: all 0.3s;

  :hover {
    color: #911ae5;
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.navbar__Links > a {
  margin-left: 30px;
  font-size: 1rem;
  font-weight: medium;
  transition: all 0.3s;
  padding: 8px 12px;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;

  &.resume {
    background-color: #911ae5;
    border-radius: 4px;
    color: #fff;
  }
}

@media screen and (max-width: 60em) {
  .navbar__Links > a {
    font-size: 0.8rem;
    &.resume {
      display: none;
    }
  }
}
