.dev-project__container {
  > h1 {
    text-align: center;
    margin-top: 8rem;
    font-size: 2.5rem;
  }
}

.dev-project__grid {
  padding-top: 2rem;
  margin: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
  justify-content: center;
  grid-column-gap: 8rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 60em) {
  .dev-project__grid {
    margin: 0 2rem;
    grid-row-gap: 1rem;
  }
}
