.category-item__container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.04);
  height: 600px;
  border-radius: 22px;

  @media screen and (max-width: 960px) {
    height: 400px;
  }

  > h4 {
    color: #cc84ff;
    font-size: 4rem;
    overflow-wrap: anywhere;

    @media screen and (max-width: 960px) {
      font-size: 3rem;
    }
  }

  > button {
    border: none;
    font-size: 18px;
    padding: 18px 32px;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 12px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s;
  }
  > button:hover {
    background-color: #cc84ff;
  }
}
