.works {
  margin-top: 8rem;
  padding: 2rem 5rem;
}
.works__container {
  > h1 {
    text-align: center;
  }
}
.works__items {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}
