.works {
  margin-top: 8rem;
  padding: 2rem 5rem;
  transition: all 0.3s;
}
.works__container {
  > h1 {
    text-align: center;
    font-size: 2.5rem;
  }
}
.works__items {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 30%));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 60em) {
  .works {
    margin-top: 5rem;
    padding: 2rem 0rem;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
  }
  .works__container {
    > h1 {
      text-align: center;
      font-size: 2.5rem;
    }
  }
  .works__items {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 100%));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }
}
