.blog {
  padding: 0 10rem;
  margin-top: 8rem;
  > h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 2rem 0;
  }
}

.blog__container {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.019);
  border: 1px solid rgba(255, 255, 255, 0.079);
  .blog__image {
    > img {
      max-width: 100%;
      border-radius: 12px;
    }
  }
  .blog__header {
    padding-top: 1rem;
    > h2 {
      font-size: 2rem;
    }
    > p {
      font-size: 1rem;
      color: #ce8dff;
    }
  }
  .blog__description {
    padding: 1rem 0;
    font-weight: 200;
    font-size: 1rem;
    width: fit-content;
    > p {
      color: #9f9f9f;
    }
  }
  .blog__button {
    /* padding-top: 3rem;
    padding-bottom: 1.4rem; */
    padding: 1.5rem 0;
    > a {
      color: #fff;
      padding: 18px 32px;
      font-size: 1rem;
      background-color: transparent;
      border: 1px solid #cc84ff;
      border-radius: 12px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 60em) {
  .blog {
    padding: 0 0;
    > h1 {
      font-size: 2rem;
      font-weight: 800;
    }
  }

  .blog__container {
    padding: 1rem;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.019);
    border: 1px solid rgba(255, 255, 255, 0.079);
    .blog__image {
      > img {
        max-width: 100%;
        border-radius: 12px;
      }
    }
    .blog__header {
      padding-top: 0.8rem;
      > h2 {
        font-size: 1.2rem;
      }
      > p {
        padding-top: 0.2rem;
        font-size: 0.8rem;
        color: #ce8dff;
      }
    }
    .blog__description {
      padding: 1rem 0;
      font-weight: 200;
      font-size: 0.9rem;
      color: #585858;
    }
    .blog__button {
      padding-bottom: 1rem;
      /* margin-top: 0.4rem; */
      > a {
        padding: 8px 16px;
        font-size: 0.8rem;
      }
    }
  }
}
