@import url("http://fonts.cdnfonts.com/css/mark-pro");

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mark Pro', 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;


}

body {
    background-color: #121212;
    /* background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgb(21, 21, 21) 100%); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

}