@import url("http://fonts.cdnfonts.com/css/mark-pro");
@import url('http://fonts.cdnfonts.com/css/campton');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mark Pro', 'Campton', 'Rubik';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;

}

body {
    background-color: #121212;
    /* background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgb(21, 21, 21) 100%); */
}