@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Mark Pro'), url('assets/fonts/MARKPRO.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Mark Pro'), url('assets/fonts/MARKPROEXTRALIGHT.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 350;
  src: local('Mark Pro'), url('assets/fonts/MARKPROLIGHT.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 450;
  src: local('Mark Pro'), url('assets/fonts/MARKPROBOOK.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Mark Pro'), url('assets/fonts/MARKPROMEDIUM.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Mark Pro'), url('assets/fonts/MARKPROBOLD.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 800;
  src: local('Mark Pro'), url('assets/fonts/MARKPROHEAVY.woff') format('woff');
}

@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Mark Pro'), url('assets/fonts/MARKPROBLACK.woff') format('woff');
}


* {
  font-family: "Mark Pro";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  background-color: #121212;
  /* background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgb(21, 21, 21) 100%); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}



#root {
  width: 100%;
  max-width: 1920px;
}